*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #000;
    --bg: #17142F;
    --kader: #23203A;
    --blue: #72DDF7;
    --purple: #8093F1;
    --pink: #F7AEF8;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg);
    height: 1000px;
    margin-left: 160px;
    margin-right: 160px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
     position: sticky;
     top: 0;
     margin-right: -40px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
        
nav ul li {
    
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 64px 40px;
    text-decoration: none;
    font-size: 24px;
}

nav ul li a:hover {
    color: var(--pink);
}

h1{
    color: white;
    font-size: 64px;
}

h2{
    color: var(--pink);
    font-size: 40px;
    font-style: italic;
}

p{
    color: white;
    font-size: 24px;
    font-weight: lighter;
    padding: 40px 0;
    line-height: 160%;
}

section {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    align-items: center; /* Centreer de inhoud verticaal */
}

.text-content {
    margin-right: 20px;
    width: 50%;
}

section img {
    width: 50%;
}

.pf{
    border-radius: 50%;
    width: 600px;
    height: 600px;
    object-fit: cover;
    position: relative; /* Nodig voor de schaduw-effecten */
    z-index: 1; /* Zorg ervoor dat de afbeelding boven de schaduwen komt */
}

.btn1{
    background-color: var(--blue);
    text-decoration: none;
    padding: 16px 24px;
    border-radius: 10px;
    color: var(--bg);
    font-weight: 600;
}

.btn2{
    color: var(--blue);
    text-decoration: none;
    padding: 16px 24px;
    border-radius: 10px;
    border: 2px solid var(--blue);
    font-weight: 600;
    margin-left: .5em;
}

.button-container{
    margin-top: 2em;
}

.image-wrapper {
    display: inline-block;
    position: relative;
    margin-left: auto;
}

.image-wrapper::before {
    content: ""; /* Zorg ervoor dat het pseudo-element wordt weergegeven */
    position: absolute; /* Positioneer het pseudo-element relatief aan de wrapper */
    top: -16px; /* Positioneer iets naar boven */
    left: -16px; /* Positioneer iets naar links */
    right: -16px; /* Positioneer iets naar rechts */
    bottom: -16px; /* Positioneer iets naar beneden */
    border-radius: 50%; /* Maak de schaduw ook rond */
    background: linear-gradient(135deg, var(--blue), var(--purple), var(--pink)); /* Gebruik een gradient voor de stroke */
    z-index: 0; /* Zorg ervoor dat het achter de afbeelding blijft */
}