*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { 
  scroll-behavior: smooth; 
}

:root{
  --darkblue: #132a3f;
  --darkred: #6f0909;
  --red: #b42523;
  --gold: #fdba47;
  --white: #fff;
  --font: Arial, Helvetica, sans-serif;
}

nav {
    z-index: 1;
    position: relative;
}

nav ul{
  list-style-type: none;
  width: 90%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

nav ul li{
  padding: 2%;
}

nav ul li a{
  text-decoration: none;
  font-family: var(--font);
  color: var(--gold);
  font-size: 1.5em;
  font-weight: 550;
 }

section{
  height: 100vh;
  position: relative;
}

main > section:nth-of-type(1){
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  width: 100%;
}

section:nth-of-type(1) section:nth-of-type(2) div{
  height: 100%;
  width: 100%;
  background-image: radial-gradient(circle at 100%, var(--red), var(--darkred) 50%, var(--darkred) 75%, var(--darkred) 76%, transparent 76%);
}

section:nth-of-type(1) section:nth-of-type(2){
  width: 100%;
  overflow: hidden;
}

section:nth-of-type(1) section:nth-of-type(2) img{
  position: absolute;
  width: 120%;
  top: 10em;
  left: 5em;
}

h1{
  margin: 35% 0 0 20%;
  font-family: 'Kaushan Script', cursive;
  color: var(--red);
  font-size: 3em;
}

h2{
  margin: -1% 0 0 20%;
  font-family: 'Kaushan Script', cursive;
  font-weight: 200;
  color: var(--darkblue);
  font-size: 2.5em;
}

p{
  font-family: var(--font);
  font-size: 1.5em;
  color: var(--darkblue);
  line-height: 1.5em;
  margin: 5% 0 0 20%;
}

button{
  background-color: var(--red);
  font-size: 1.75em;
  padding: .75em 2em;
  border: none;
  color: white;
  border-radius: 50px;
  margin: 8% 0 0 20%;
  display: inline;
}

button:first-of-type{
  margin: 8% 0 0 20%;
}

button:hover{
  background-color: #570707;
}

button:nth-of-type(2){
  background-color: var(--white);
  color: var(--darkblue);
  border: 2px solid var(--darkblue);
  margin-left: 1em;
}

button:nth-of-type(2):hover{
  background-color: var(--darkblue);
  color: var(--white);
}

section section:nth-of-type(3){
  margin-top: 30%;
  height: 70%;
}

section section:nth-of-type(3) img{
  width: 70%;
  float: right;
  margin-right: 10%;
}

section section:nth-of-type(4) h1{
  margin-left: 10%;
  margin-top: 30%;
}

section section:nth-of-type(4) p{
  margin-left: 10%;
  width: 70%;
}

section section:nth-of-type(4) a{
  margin-left: 10%;
  margin-top: 4%;
  background-color: var(--red);
  font-size: 1.75em;
  padding: .75em 2em;
  border: none;
  color: var(--white);
  border-radius: 50px;
  text-decoration: none;
  font-family: var(--font);
  display: inline-block;
}

section section:nth-of-type(4) a:hover{
  background-color: #570707;
}

main > section:nth-of-type(2){
  background-color: var(--darkred);
  height: 130vh;
}

main > section:nth-of-type(2) h1{
  text-align: center;
  margin-top: 60%;
  margin-left: 0;
  padding: 3.5em 0 1em 0;
  color: var(--gold);
}

main > section:nth-of-type(2) section{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  width: 80%;
  margin: auto;
}

div{
  width: 30em;
  background-color: var(--white);
  margin-bottom: 10em;
  overflow: hidden;
}

div img{
  width: 80%;
  display: block;
  margin: 10% auto;
}

div p{
  text-align: center;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 30%;
  background-color: var(--white);
  padding: 4em;
}

section:has(form){
  background-color: var(--darkblue);
  height: 100vh;
}

section:has(form) h1{
  text-align: center;
  margin: 0;
  padding: 3.5em 0 1em 0;
  color: var(--gold);
}

input {
  height: 3em;
  margin-bottom: 1em;
  border-radius: 10px;
}

input[type=text] {
  background-color: var(--red);
  opacity: 65%;
  border: none;
  font-size: 1.5em;
}

input[type=submit] {
  background-color: var(--red);
  font-size: 1.5em;
  border: none;
  color: var(--white);
  border-radius: 50px;
  margin: 10% auto 0 auto;
  width: 50%;
}

input[type=submit]:hover {
  background-color: #570707;
}

input:focus{
  outline-color: var(--darkblue);
}

::placeholder{
  color: var(--white);
  padding-left: 1.5em;
  font-family: var(--font);
}

textarea{
  border: none;
  background-color: var(--red);
  opacity: 80%;
  border-radius: 10px;
  font-family: var(--font);
  font-size: 1.5em;
  padding-top: 1em;
  max-width: 100%;
  min-width: 100%;
}

footer{
  background-color: var(--darkblue);
  margin-top: -6.1em;
}

footer p{
  color: var(--white);
  margin-left: 0;
  text-align: center;
}

/* #DM{
  background-color: var(--darkblue);
}

.dark-mode{
  background-color: var(--darkblue);
}

.dark-mode2{
  color: var(--white);
} */