*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #000;
    --bg: #17142F;
    --kader: #23203A;
    --blue: #72DDF7;
    --purple: #8093F1;
    --pink: #F7AEF8;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg);
    height: 1000px;
    margin-left: 160px;
    margin-right: 160px;
}

nav {
     position: sticky;
     top: 0;
     margin-right: -40px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
        
nav ul li {
    
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 64px 40px;
    text-decoration: none;
    font-size: 24px;
}

nav ul li a:hover {
    color: var(--pink);
}

/* section{
    height: 100%;
} */

h1{
    color: white;
    font-size: 64px;
}

h2{
    color: var(--pink);
    font-size: 40px;
    font-style: italic;
}

p{
    color: white;
    font-size: 24px;
    font-weight: lighter;
}

section {
    display: flex;                   /* Flexbox voor de sectie */
    align-items: flex-start;        /* Zorgt ervoor dat de elementen bovenaan uitgelijnd zijn */
    padding: 20px;                  /* Ruimte rondom de sectie */
    box-sizing: border-box;         /* Zorgt ervoor dat padding binnen de totale breedte valt */
}

.text-content {
    margin-right: 20px;
    width: 50%;
}

section img {
    width: 50%;
}

.pf{
    border-radius: 50%;
    width: 600px;
    height: 600px;
    object-fit: cover;
}